@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

@media screen and (max-width: 375px) {
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
    
    .notification {
        width: auto;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        padding: 20px;
        margin: 0;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 60%, 98%);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.notification {
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    margin: 2rem auto;
}

.notification-head {
    display: flex;
    justify-content: space-between;
}

.not {
    font-weight: bold;
}

.not .notNum {
    font-size: 12px;
    padding: 2px 8px;
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    border-radius: 3px;
    margin-left: 8px;
}

.notification-body {
    margin-top: 20px;
}

.mark {
    cursor: pointer;
}

.mark:hover {
    color: hsl(219, 85%, 26%);
}

.not-1,
.not-2,
.not-3,
.not-4,
.not-5,
.not-6,
.not-7 {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: hsl(211, 68%, 94%);
    border-radius: 6px;
    user-select: none;
}

.not-1,
.not-2,
.not-3,
.not-4,
.not-5,
.not-6 {
    margin-bottom: 10px;
}

img {
    width: 40px;
    height: 40px;
}

p {
    font-size: 14px;
    color: hsl(219, 12%, 42%);
    margin-left: 15px;
}

.time {
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}

.fa-circle {
    color: hsl(1, 90%, 64%);
    font-size: 8px;
    margin-left: 8px;
}

.message p {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid hsl(210, 60%, 98%);
    margin-top: 8px;
    transition: .7s;
    cursor: pointer;
}

.message p:hover {
    background-color: hsl(211, 68%, 94%);
}

.bold-uName {
    font-weight: bold;
    color: hsl(224, 21%, 14%);
    transition: .6s;
    cursor: pointer;
}

.bold-uName:hover,
.bold-color:hover {
    color: hsl(219, 85%, 26%);
}

.bold-color-chess {
    font-weight: bold;
    color: hsl(219, 85%, 26%);
}

.bold-color {
    font-weight: bold;
    color: hsl(219, 12%, 42%);
    margin-left: 2px;
}